<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>A1 Top Page</h1>

  <h2>
    <%= t 'a1_welcome'  %>
  </h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
  
  <div>
    <p>Already a member? <%= link_to "Log in", login_path %></p>
  </div>
  
</div>
