Hi <%= @student.name %>,

You have booked the following lesson:

Start time: <%= @lesson.starts_at %>
Teacher:    <%= @lesson.teacher.name%>
Duration:   <%= @lesson.duration %> minutes


------------
http://japaneasy.me