<% provide(:title, 'All students') %>
<h1>All users</h1>

<!-- The will_paginate method is a little magical; inside a users view, it
automatically looks for an @users object, and then displays pagination links to access
other pages. -->
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <!-- <%= gravatar_for user, size: 50 %> -->
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- put pagination links at the bottom of the page, too -->
<%= will_paginate %>
