<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %> <br/>
</h1>
<% if @user.id == current_user.id %>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-6">
        <%= @user.email %>
      </div>
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-info" %>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Lesson Credits</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-6">
        Avilable Credits: <span id="creditcounter" class="badge"><%= @user.credits.to_s %></span>
      </div>
      
      <div class="col-sm-3">      
        <p>Buy 5 lesson credits for ¥5000</p>
      </div>
      
      <div class="col-sm-3">      
        <!-- PayPal button -->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="FJEE4M7D7YSAS">
          <input type="image" src="https://www.paypalobjects.com/en_US/JP/i/btn/btn_buynowCC_LG.gif" 
            border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      
      <% if Rails.env.development? %>
      <div class="col-sm-3">      
        <%= button_to "+1 CREDIT", buy_path(user_id: @user, quantity: 1), remote: true, class: "btn btn-danger" %>
      </div>
      <div class="col-sm-3">      
        <%= button_to "+5 CREDITS", buy_path(user_id: @user, quantity: 5), remote: true, class: "btn btn-danger" %>
      </div>
      <% end %>
      
    </div>
  </div>
<% end %>
