<!-- FYI: Rails uses POST if @lesson.new_record? is true and PATCH if it is false. -->

    <%= form_for(@lesson) do |f| %>
      <%= render 'shared/lesson_error_messages' %>

      <%= f.hidden_field :teacher_id %>
      
      <%= f.label :starts_at, "Lesson Date and Time (in your time zone!)" %>
      <%= f.datetime_select :starts_at, class: 'form-control' %>

      <%= f.label :duration, "Duration (mins)"%>
      <%= f.number_field :duration, in: 5..200, step:5, class: 'form-control' %>

      <%= f.label :capacity, "Number of Students" %>
      <%= f.number_field :capacity, in: 1..10, step:1, class: 'form-control' %>
        
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
