<!-- Rails uses POST if @user.new_record? is true and PATCH if it is false. -->

    <%= form_for(@user, url: @form_url) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Taro Suzuki" %>
      
      <!-- the drop-down (called select in html) for the time zones -->
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, nil, include_blank: true %>
        
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: "taro.suzuki@gmail.com"  %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= fields_for @teacher_info do |ti| %>
        <%= ti.label :profile %>
        <p>NOTE: you can use some <a href="http://www.w3schools.com" target="_blank">HTML tags</a> like <em>a</em>, <em>em</em>, <em>strong</em>, <em>ul</em>...</p>
        <%= ti.text_area :profile, size: "60x6" %>
        <%= ti.label :message %>
        <p>NOTE: you can use some <a href="http://www.w3schools.com" target="_blank">HTML tags</a> like <em>a</em>, <em>em</em>, <em>strong</em>, <em>ul</em>...</p>
        <p>Please add some contact information like email or skype handle so that students can get hold of you if they have any questions.</p>
        <%= ti.text_area :message, size: "60x6" %>
        
        <p>If you have any YouTube self-introduction videos, you can paste the URL of your videos here.</p>
        <%= ti.label "YouTube video URL 1" %>
        <%= ti.url_field :yt_vid_1, class: 'form-control', placeholder: "https://www.youtube.com/watch?v=iqKdEhx-dD4" %>
        <%= ti.label "YouTube video URL 2" %>
        <%= ti.url_field :yt_vid_2, class: 'form-control' %>
        <%= ti.label "YouTube video URL 3" %>
        <%= ti.url_field :yt_vid_3, class: 'form-control' %>
        
      <% end %>
        
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
