    <%= "#{@lessons.count} upcoming lessons" %> <br/>
    <table>
      <tr>
        <th>Start time</th>
        <th>Duration</th>
        <th>Capacity</th>
        <th>Place available?</th>
      </tr>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.starts_at %></td>
        <td><%= lesson.duration %></td>
        <td><%= lesson.capacity %></td>
        <td><%= lesson.full? ? "NO" : "YES" %></td>
        
        <td>
        <% if current_user.student? %>
          <% if lesson.full? %>
          <%= "Lesson full"  %>
          <% else %>
          <%= button_to "Book lesson", book_path(lesson: lesson), method: :post,
                                        data: { confirm: "One credit will be deducted from your account. Click OK to book this lesson." }, 
                                        class: "btn btn-danger" %>
          <% end %>
        <% end %>
        </td>
        
        <td>
        <!-- only show DELETE link for admins and for the teacher that created the lesson -->
        <% if current_user.admin? || (current_user == lesson.teacher) %>
          
          <%= button_to "Delete lesson", lesson_path(lesson), method: :delete,
                                      data: { confirm: "You sure?" }, 
                                      class: "btn btn-danger",
                                      disabled: (lesson.num_bookings > 0) %>
        <% end %>
        </td>
      </tr>
    <% end %>
    </table>