<% provide(:title, 'All teachers') %>
<h1>Teachers</h1>


<% if logged_in? && current_user.admin? %>
  <%= link_to "Create new Teacher", new_teacher_path %>
<% end %>

<ul class="users">
  <% @teachers.each do |teacher| %>
    <li>
      <%= gravatar_for teacher, size: 50 %>
      <%= link_to teacher.name, teacher_path(teacher) %>      
      
      <% if logged_in? && current_user.admin? %>
        | <%= link_to "edit", edit_teacher_path(teacher.id) %>
      <% end %>
      
      <% if logged_in? && current_user.admin? && !current_user?(teacher) %>
        | <%= link_to "delete", teacher_path(teacher), method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
