<% provide(:title, 'New Teacher') %>
<% provide(:button_text, 'Register This Teacher') %>
<h1>Register New Teacher</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
