<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %> <br/>
</h1>

<% if logged_in? && (@user.id == current_user.id || current_user.admin?) %>
  <div class="panel panel-default">
    <div class="panel-body">
        <%= link_to "Edit profile", edit_teacher_path(@user), class: "btn btn-info" %>
        <%= link_to "Add New Lesson", 
          {controller: "lessons", action: "new", teacher_id: @user.id}, 
          class: "btn btn-info" %>
    </div>
  </div>
  
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Lesson Credits</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-6">
        Total Credits: <span class="badge"><%= @user.credits.to_s %></span>
      </div>
      
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <%= gravatar_for @user, size: 120 %>
      </div>
    
      <div class="col-xs-8">
        <div>
          Profile:
        </div>
        <div>
          <%= sanitize(@teacher_info.profile, tags: ["ul", "ol", "li", "strong", "em", "a", "br", "p"], attributes: ["href", "target"]) if @teacher_info %>
        </div>

        <div>
          Message:
        </div>

        <div>
          <%= sanitize(@teacher_info.message, tags: ["ul", "ol", "li", "strong", "em", "a", "br", "p"], attributes: ["href", "target"]) if @teacher_info %>
        </div>
      </div>
      
    </div>

    
    <% unless @teacher_info.yt_vid_1.nil? || @teacher_info.yt_vid_1.empty? %>
    <div class="row">
      <%= 
      url = parse_youtube(@teacher_info.yt_vid_1)
      content_tag(:iframe, nil, src: "https://www.youtube.com/embed/#{url}?rel=0", width: 560, height: 315, frameborder: 0, allowfullscreen: true) 
      %>
    </div>
    <% end %>
    
    <% unless @teacher_info.yt_vid_2.nil? || @teacher_info.yt_vid_2.empty? %>
    <div class="row">
      <%= 
      url = parse_youtube(@teacher_info.yt_vid_2)
      content_tag(:iframe, nil, src: "https://www.youtube.com/embed/#{url}?rel=0", width: 560, height: 315, frameborder: 0, allowfullscreen: true) 
      %>
    </div>
    <% end %>
    
    
    <% unless @teacher_info.yt_vid_3.nil? || @teacher_info.yt_vid_3.empty? %>
    <div class="row">
      <%= 
      url = parse_youtube(@teacher_info.yt_vid_3)
      content_tag(:iframe, nil, src: "https://www.youtube.com/embed/#{url}?rel=0", width: 560, height: 315, frameborder: 0, allowfullscreen: true) 
      %>
    </div>
    <% end %>


  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'lessons' %>
  </div>
</div>
